h1{
    text-align: center;
}
span{
    font-weight: bold;
}
.nombreAzul{
    color: blue;
}
.nombreRojo{
    color: red;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: bisque;
    border: 1px solid;
}
td {
    border: 1px solid;
}
.filaVerde{
    color: green;
}
.filaRoja{
    color: red;
}
.filaNaranja{
    color: rgb(255, 123, 0);
}