body{
    font-family: Verdana;
    font-size: 12px;
    font-style:normal;
    color:black;
    border: 20px;
    background-color: #DFFEFD;
}
h1 {
    font-family:Arial;
    font-size:36px;
    font-style:bold;
    color:darkblue;
    text-align: center;
    background-color: white;
    border-top: 2px, blue;
    border-bottom: 2px;
    border-color:blue;
    margin: 20px, auto;
}
h2 {
    font-size:16px;
    font-style:bold;
}
.TimesRojo {
    font-family: 'Times New Roman';
    font-size: 14px;
    font-style: bold;
    color: red;
}
.TimesVerde {
    font-family: 'Times New Roman';
    font-size: 14px;
    font-style: bold;
    color: green;
}