body{
    font-family: Times;
    font-size: 12px;
    font-style: normal;
    color: black;
    margin: auto;
    background-color: #E9ECFC;
    width: 800px;
}

h1{
    font-family: Georgia;
    font-size: 36px;
    font-style: bold;
    color: red;
    margin: auto;
}
h2{
    font-family:'Times New Roman';
    font-size: 18px;
    font-style: bold;
    color: blue;
    text-align: left;
    border-bottom: solid thin;
}
ol{
    font-family: 'Comic San';
    font-size: 14px;
    font-style: normal;
    color: blue;
    background-color: yellow;
    border: dotted;
    text-align: right;
    width: 40%;
    margin: 20px 50px 20px 0px;
    padding: 20px 50px 20px 50px;
}