body{
    margin: auto;
    background: rgba(241, 239, 239, 0.645);
}
#container{
    display: grid;
    grid-template-areas: "titulo titulo titulo titulo"
                "opcion opcion opcion opcion"
                "seccion seccion seccion lateral"
                "seccion seccion seccion lateral"
                "pie pie pie pie";
    gap: 10px 10px;
    margin: 20px;
}
header{
    grid-area: titulo;
    background-color: blue;
    color: white;
    text-align: center;
}
nav{
    grid-area: opcion;
    background-color: aqua;
}
li{
    display: inline;
}
section{
    grid-area: seccion;
    background-color: lightslategray;
    grid-template-areas: "a1 a2 a3"
                        "a4 a5 aa";
}
#a1{
    grid-area: a1;
}
#a2{
    grid-area: a2;
}
#a3{
    grid-area: a3;
}
#a4{
    grid-area: a4;
}
#a5{
    grid-area: a5;
}
aside{
    grid-area: lateral;
    background-color: goldenrod;
    color: white;
    text-align: center;
}
footer{
    grid-area: pie;
    background-color: black;
    color: white;
    text-align: center;
}